* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(231, 231, 231);

}

.cv-list {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 0.75em;
    z-index: 4;
}

.cv-block {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    padding: 10px 10px 10px 10px;
    font-family: 'Otomanopee One', sans-serif;
    text-align: justify;
}

.name {
    margin: auto;
    font-size: 2rem;
}

.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    z-index: 1000;
    border: 3px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch: extra-condensed;
}

.icon {
    position: relative;

    margin: 5px;
    width: 100px;
    height: 100px;
}

.icon img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@media (min-width: 476px) {
    .cv-list {
        justify-content: center;
        max-width: 500px;
    }
    .cv-block {
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;
        max-width: 500px;
    }
    .icon {
        flex-grow: 1;
        z-index: 100;
    }
    .information {
        flex-grow: 4;
    }
    .nav_menu a {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .cv-list {
        justify-content: center;
        max-width: 768px;
    }
    .cv-block {
        align-items: center;
        flex-direction: row;
        max-width: 768px;
        min-height: 120px;
    }
    .icon {
        flex-grow: 1;
        z-index: 100;
    }
    .information {
        flex-grow: 100;
        margin-left: 100px;
    }
    .nav_menu a {
        font-size: 2rem;
    }
}

.shadow {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: rgb(245, 169, 222);
}

.information {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: start;
    margin-left: 20px;
    margin-right: 20px;
}

.personal {
    font-size: 1em;
    text-indent: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.lang {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-indent: 20px;
    margin-left: 20px;
    min-width: 200px;
}

.code {
    align-self: flex-start;
    text-align: start;
    font-size: 0.7rem;
    text-indent: 20px;
}

li {
    margin-left: 20px;
    text-indent: 0px;
}

.emoji {
    position: absolute;
    border-radius: 50%;
    font-size: 4em;
    margin: 0%;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    background-color: black;
}

header {
    position: sticky;
    display: block;
    height: 50px;
    top: 0px;
    background-color: lightcoral;
    z-index: 10;
}

p {
    margin: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    height: 45px;
    background-color: lightcoral;
    z-index: 10;
    font-size: 1rem;
}

.logo {
    position: relative;
    height: 20px;
}

.logo:hover {
    height: 30px;
}

input {
    display: none;
}

label {
    cursor: pointer;
}

.nav_menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
}

.nav_menu a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

.burger {
    position: absolute;
    right: 20px;
}

.burger:hover {
    font-size: 2.5rem;
}

.project img {
    height: 120px;
}

.project ul {
    display: flex;
    flex-direction: row;
}